@use '../../../styles/sass/variables.module.scss' as *;

.primary {
  color: $primary-color;
}

.success {
  color: $success-color;
}

.warning {
  color: $warning-color;
}

.danger {
  color: $danger-color;
}

.text {
  color: $text-color;
}

.background {
  color: $background-color;
}