@use "../../../../../styles/sass/variables.module.scss" as *;

.avatar {
  box-sizing: border-box;
  position: relative;
  display: flex;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  overflow: hidden; 
  border-radius: 99999px;
}