@use '../../../styles/sass/variables.module.scss' as *;

.soft {
  color: $soft-text-color;
}

.default {
  color: $text-color;
}

.primary {
  color: $primary-color;
}

.danger {
  color: $danger-color;
}