@use '../../../../styles/sass/variables.module.scss' as *;

.defaultButtonStyles {
  * {
    box-sizing: border-box;
  }

  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  white-space: nowrap;
  border-radius: $border-radius-small; 
  font-size: $fs-small-desktop;
  font-family: $font-family;
  font-weight: 400;
  transition: color 0.2s;
  cursor: pointer;
  
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px $ring-color;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  & > svg {
    pointer-events: none;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
}

.solidVariant {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* equivalente a shadow */
}

.outlineVariant {
  border: 1px solid $input-color;
  background-color: transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05); 
  color: $text-color;
}

.gostVariant {
  color: $text-color;
  background-color: transparent;
}

.sizeRegular {
  height: 36px;
  padding-left: 16px; /* px-4 */
  padding-right: 16px; /* px-4 */
  padding-top: 8px; /* py-2 */
  padding-bottom: 8px; /* py-2 */
}

.sizeSmall {
  height: 32px; /* h-8 */
  border-radius: 4px; /* rounded-md */
  padding-left: 12px; /* px-3 */
  padding-right: 12px; /* px-3 */
  font-size: 12px; /* text-xs */
}

.sizeLarge {
  height: 40px; /* h-10 */
  border-radius: 4px; /* rounded-md */
  padding-left: 32px; /* px-8 */
  padding-right: 32px; /* px-8 */
}

.sizeIcon {
  height: 36px;
  width: 36px;
}

.sizeIconMedium {
  height: 36px;
  width: 36px;

  & > svg {
    height: 16px;
    width: 16px;  

    @media screen and (min-width: $tablet) {
      height: 20px;
      width: 20px;    
    }
  }
}

.fitContent {
  width: fit-content;
}

