@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

    $primary-color: #f08200;
    $success-color: #2e7d32;
    $warning-color: #ffc107;
    $danger-color: #d32f2f;
    $text-color: #FAFAFA;
    $soft-text-color: #A1A1A1;
    $background-color: #000000;
    $shape-color: #0A0A0A;
    $soft-shape-color: #171717;
    $separator-color: #2C2C2C;
    $input-color: #27272a;

    $font-family: 'Roboto', sans-serif;

    $mobile-s: 321px;
    $mobile-m: 376px;
    $mobile-l: 426px;
    $tablet: 769px;
    $laptop: 1025px;
    $laptop-l: 1441px;
    $desktop: 1919px;
  
    $fs-tiny-tablet: 11px;
    $fs-small-tablet: 13px;
    $fs-regular-tablet: 14px;
    $fs-medium-tablet: 16px;
    $fs-large-tablet: 20px;
    $fs-x-xarge-tablet: 28px;

    $fs-tiny-desktop: 12px;
    $fs-small-desktop: 14px;
    $fs-regular-desktop: 16px;
    $fs-medium-desktop: 18px;
    $fs-large-desktop: 24px;
    $fs-x-xarge-desktop: 36px;

    $border-radius-tiny: 2px;
    $border-radius-small: 4px;
    $border-radius-regular: 8px;
    $border-radius-medium: 12px;
    $border-radius-large: 16px;

    $padding-tiny-tablet: 2px;
    $padding-small-tablet: 4px;
    $padding-regular-tablet: 12px;
    $padding-medium-tablet: 16px;
    $padding-large-tablet: 24px;

    $padding-tiny-desktop: 4px;
    $padding-small-desktop: 8px;
    $padding-regular-desktop: 16px;
    $padding-medium-desktop: 18px;
    $padding-large-desktop: 20px;

    $z-index-modal: 4;
    $z-index-sidebar: 3;
    $z-index-sidebar-overlay: 2;
    $z-index-fixed-header: 1;
    $z-index-loader-overlay: 999;

    $sidebar-background-color: #000000;
    $sidebar-toolbar-background-color: #000000;
    $sidebar-desktop-size: 250px;
    $sidebar-mobile-size: 250px;
    $sidebar-icon-desktop-size: 24px;
    $sidebar-icon-mobile-size: 24px;

    $card-padding-tablet: 16px;
    $card-padding-desktop: 16px;
    $card-color: #0A0A0A;
    $soft-card-color: #171717;

