@use '../../../../styles/sass/variables.module.scss' as *;

$sidebar-v-padding: 8px;
$sidebar-h-padding: 8px;
$sidebar-close-h-padding: 5px;
$sidebar-close-v-padding: $sidebar-v-padding;
$sidebar-item-v-padding: 8px;
$sidebar-item-h-padding: 8px;
$sidebar-item-gap-open: 8px;
$sidebar-item-gap-close: calc($sidebar-close-h-padding + $sidebar-item-h-padding);
$sidebar-close-desktop-size: calc(calc($sidebar-close-h-padding * 2) + $sidebar-icon-desktop-size + calc($sidebar-item-h-padding * 2));

$sidebar-width-transition-desktop: 300ms ease-in-out;

$sidebar-toolbar-desktop-height: calc($sidebar-v-padding * 2 + $sidebar-icon-desktop-size + calc($sidebar-item-v-padding * 2));