@use '../../../styles/sass/variables.module.scss' as *;

.primary {
  background-color: $primary-color;
}

.success {
  background-color: $success-color;
}

.warning {
  background-color: $warning-color;
}

.danger {
  background-color: $danger-color;
}

.text {
  background-color: $text-color;
}

.background {
  background-color: $background-color;
}