@use '../../../../../styles/sass/variables.module.scss' as *;

.dropdownItem {
  display: flex; 
  position: relative; 
  padding-top: 6px;
  padding-bottom: 6px; 
  padding-left: 8px;
  padding-right: 8px; 
  gap: 8px; 
  align-items: center; 
  border-radius: $border-radius-tiny; 
  outline-style: none; 
  font-size: $fs-small-desktop;
  font-weight: normal; 
  line-height: 20px; 
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  transition-duration: 100ms;
  cursor: pointer; 
  user-select: none;
  
  &:hover {
    background-color: rgba($text-color, 15%);
    color: $text-color; 
  }

  &:focus {
    background-color: rgba($text-color, 15%);
    color: $text-color;
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  & > svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
}

.inset {
  padding-left: 32px; 
}