@use '../../../../styles/sass/variables.module.scss' as *;

.page {
  background-color: $background-color;
  color: $text-color;
}

main {
  padding: min(30px, 7%);

  & p {
    color: $soft-text-color;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}