@use "../../../../../styles/sass/variables.module.scss" as *;

.textarea {
  display: flex; // flex
  min-height: 60px; // min-h-[60px]
  font-size: $fs-small-desktop; // text-sm
  resize: vertical;

  @media (min-width: $tablet) { // md:text-sm
    font-size: $fs-small-tablet; // text-sm
  }
}