@use '../../styles/sass/variables.module.scss' as *;

.tiny {
  padding: $padding-tiny-tablet;

  @media screen and (min-width: $tablet) {
    padding: $padding-tiny-desktop;
  }
}

.small {
  padding: $padding-small-tablet;

  @media screen and (min-width: $tablet) {
    padding: $padding-small-desktop;
  }
}

.regular {
  padding: $padding-regular-tablet;

  @media screen and (min-width: $tablet) {
    padding: $padding-regular-desktop;
  }
}

.medium {
  padding: $padding-medium-tablet;

  @media screen and (min-width: $tablet) {
    padding: $padding-medium-desktop;
  }
}

.large {
  padding: $padding-large-tablet;

  @media screen and (min-width: $tablet) {
    padding: $padding-large-desktop;
  }
}

.xLarge {
  padding: $padding-large-tablet;

  @media screen and (min-width: $tablet) {
    padding: $padding-large-desktop;
  }
}