@use '../../../../../styles/sass/variables.module.scss' as *;
@use '../../../../../styles/sass/reset.module.scss' as *;

.container {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}