@use '../../../styles/sass/variables.module.scss' as *;

.borderColorFocusPrimary {
  &:focus {
    border-color: $primary-color;
  }
}

.borderColorFocusSuccess {
  &:focus {
    border-color: $success-color;
  }
}

.borderColorFocusWarning {
  &:focus {
    border-color: $warning-color;
  }
}

.borderColorFocusDanger {
  &:focus {
    border-color: $danger-color;
  }
}

.borderColorFocusText {
  &:focus {
    border-color: $text-color;
  }
}

.borderColorFocusBackground {
  &:focus {
    border-color: $background-color;
  }
}