@use '../../../../../styles/sass/variables.module.scss' as *;

.dropdownShortcut {
  margin-left: auto;
  font-size: $fs-tiny-desktop;
  line-height: 16px; 
  letter-spacing: 1.6px; 
  opacity: 0.6; 
}