@use '../../../../../styles/sass/variables.module.scss' as *;

.span {
  display: flex; 
  position: absolute; 
  left: 8px; 
  justify-content: center; 
  align-items: center; 
  width: 14px; 
  height: 14px; 
}

.check {
  width: 16px; 
  height: 16px; 
}
