.customIcon {
  height: 16px;
  width: 16px;
  opacity: 0.5; 
  transform: rotate(90deg);
}

.selectScrollDownButton {
  display: flex; 
  cursor: default;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
}