@use '../../../../../styles/sass/variables.module.scss' as *;

.span {
  display: flex; 
  position: absolute; 
  left: 8px; 
  justify-content: center; 
  align-items: center; 
  width: 14px; 
  height: 14px;
}

.circle {
  width: 8px; 
  height: 8px; 
  fill: currentColor; 
}