@use '../../../styles/sass/variables.module.scss' as *;
@use '../variables.module.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.containerOnOpen {
  overflow: hidden;
}

.defaultToolbarPadding {
  padding-top: $sidebar-toolbar-desktop-height;
}

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $fixed-header-z-index;
  background-color: $sidebar-background-color; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
  @media screen and (min-width: $tablet) {
    width: calc(100% - $sidebar-desktop-size);
    transition: $sidebar-width-transition-desktop;
    left: initial;
    right: initial;
  }
}

.fixedHeaderOpen {
  @media screen and (min-width: $tablet) {
    width: calc(100% - $sidebar-close-desktop-size);
  }
}

.mobileHeader {
  z-index: $fixed-header-z-index;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}