@use '../../../../../styles/sass/variables.module.scss' as *;

.tableHead {
  padding-left: 8px;
  padding-right: 8px; 
  height: 40px; 
  font-weight: 500; 
  text-align: left; 
  vertical-align: middle; 
  color: $soft-text-color;

  &:has([role="checkbox"]) {
    padding-right: 0;
  }

  & > [role="checkbox"] {
    transform: translateY(2px);
  }
}