@use '../../../../../../styles/sass/variables.module.scss' as *;
@import '../shared.module.scss';

$animation-in: fade-in 0.1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
$animation-bottom: slide-in-from-top 0.1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
$animation-left: slide-in-from-right 0.1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
$animation-right: slide-in-from-left 0.1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
$animation-top: slide-in-from-bottom 0.1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
$zoom-in-start: scale(0.95);
$zoom-in-end: scale(1);

.selectContentDefault {
  position: relative; 
  z-index: 50; 
  max-height: 384px;
  min-width: 128px;
  overflow: hidden;
  border-radius: 6px; 
  border: 1px solid $separator-color; 
  background-color: $background-color; 
  color: $text-color; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0%;
  transform: scale(200%);

  &[data-state='open'][data-side='bottom'] {
    animation: $animation-in, $animation-bottom;
  }

  &[data-state='open'][data-side='left'] {
    animation: $animation-in, $animation-left;
  }

  &[data-state='open'][data-side='right'] {
    animation: $animation-in, $animation-right;
  }

  &[data-state='open'][data-side='top'] {
    animation: $animation-in, $animation-top;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes slide-in-from-top {
  from {
    transform: translateY(-8px) $zoom-in-start;
  }
  to {
    transform: translateY(4px) $zoom-in-end;
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(8px) $zoom-in-start; 
  }
  to {
    transform: translateX(-4px) $zoom-in-end;
  }
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-8px) $zoom-in-start; 
  }
  to {
    transform: translateX(4px) $zoom-in-end;
  }
}

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(8px) $zoom-in-start;
  }
  to {
    transform: translateY(-4px) $zoom-in-end;
  }
}

.popperContent {
  &[data-side='bottom'] {
    transform: translateY(4px);
  }

  &[data-side='left'] {
    transform: translateX(-4px); /* equivalente a -translate-x-1 */
  }

  &[data-side='right'] {
    transform: translateX(4px); /* equivalente a translate-x-1 */
  }

  &[data-side='top'] {
    transform: translateY(-4px); /* equivalente a -translate-y-1 */
  }
}

.defaultViewPort {
  padding: 4px;
}

.popperViewPort {
  height: var($radix-select-trigger-height);
  width: 100%;
  min-width: $radix-select-trigger-width;
}