@use '../../../../../../styles/sass/variables.module.scss' as *;

.selectItemDefault {
  position: relative;
  display: flex;
  width: 100%;
  cursor: default;
  user-select: none;
  align-items: center;
  border-radius: $border-radius-small;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px; 
  font-size: $fs-small-desktop;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-family: $font-family;

  &:focus {
    background-color: $background-color;
    color: $text-color;
  }

  &:hover {
    background-color: lighten($background-color, 20%);
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon {
  height: 16px;
  width: 16px;
}

.span {
  position: absolute;
  right: 8px; 
  display: flex;
  height: 14px; 
  width: 14px; 
  align-items: center;
  justify-content: center;
}