@use '../../../../../styles/sass/variables.module.scss' as *;

.dropdownSeparator {
  margin-top: 4px;
  margin-bottom: 4px; 
  margin-left: -4px;
  margin-right: -4px; 
  height: 1px;
  background-color: $separator-color;
}