@use '../../../../../styles/sass/variables.module.scss' as *;
@import '../shared.module.scss';

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: $input-container-gap;
}

.input {
  padding: 4px 12px;
  font-size: $fs-small-desktop;
  color: $text-color;
  border: 1px solid $separator-color;
  font-family: $font-family;
  border-radius: 6px;
  outline: none;
  line-height: 26px;

  &::placeholder {
    color: $soft-text-color;
  }

  &:disabled {
    background-color: transparent;
    border-color: $input-color;
    color: lighten($input-color, 25%);
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: none; // focus-visible:outline-none
    box-shadow: 0 0 0 1px $ring-color, 0 1px 2px rgba(0, 0, 0, 0.05); // focus-visible:ring-1 focus-visible:ring-ring
  }
}