@use '../../../../styles/sass/variables.module.scss' as *;

$animation-in: fade-in 0.1s ease-in-out forwards;
$animation-bottom: slide-in-from-top 0.1s ease-in-out forwards;
$animation-left: slide-in-from-right 0.1s ease-in-out forwards;
$animation-right: slide-in-from-left 0.1s ease-in-out forwards;
$animation-top: slide-in-from-bottom 0.1s ease-in-out forwards;
$zoom-in-start: scale(0.95);
$zoom-in-end: scale(1);

.subContent {
  overflow: hidden; 
  z-index: 50; 
  padding: 4px; 
  border-radius: 6px; 
  border-width: 1px; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  opacity: 0%;
  transform: scale(200%);

  &[data-state='open'][data-side='bottom'] {
    animation: $animation-in, $animation-bottom;
  }

  &[data-state='open'][data-side='left'] {
    animation: $animation-in, $animation-left;
  }

  &[data-state='open'][data-side='right'] {
    animation: $animation-in, $animation-right;
  }

  &[data-state='open'][data-side='top'] {
    animation: $animation-in, $animation-top;
  }

  &[data-state='closed'] {
    animation: fade-out 0.2s ease-in forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes slide-in-from-top {
  from {
    transform: translateY(-8px) $zoom-in-start;
  }
  to {
    transform: translateY(4px) $zoom-in-end;
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(8px) $zoom-in-start; 
  }
  to {
    transform: translateX(-4px) $zoom-in-end;
  }
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-8px) $zoom-in-start; 
  }
  to {
    transform: translateX(4px) $zoom-in-end;
  }
}

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(8px) $zoom-in-start;
  }
  to {
    transform: translateY(-4px) $zoom-in-end;
  }
}
