@use '../../../../styles/sass/variables.module.scss' as *;

.switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
}

.switchTrack {
  width: 44px;
  height: 24px;
  border-radius: 9999px;
  position: relative;
  transition: background-color 0.3s ease;
}

.switchTrackDisabled {
  background-color: lighten($input-color, 30%);
}

.switchTrackUnchecked {
  background-color: $input-color;
}

.switchThumb {
  width: 20px;
  height: 20px;
  background-color: $background-color;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.switchTrackChecked {
  background-color: #4ade80; /* Green when checked */
}

.switchThumbChecked {
  left: 3px;
  transform: translateX(19px); /* Move thumb when checked */
}

.switchContainerWithLabel {
  display: flex;
  align-items: center;
  gap: 2px;
}