@use '../../../styles/sass/variables.module.scss' as *;

.soft {
  background-color: $soft-shape-color;
}

.shape {
  background-color: $shape-color;
}

.background {
  background-color: $background-color;
}