@use '../../../../../styles/sass/variables.module.scss' as *;
@import '../shared.module.scss';

.sidebarItemContainer {
  border-radius: $border-radius-small;
  padding: $sidebar-item-v-padding $sidebar-item-h-padding;
  text-decoration: none;
  color: $text-color;
  display: flex;
  align-items: center;
  gap: $sidebar-item-gap-open;
  font: inherit;
  font-family: $font-family;
  line-height: 100%;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.14);
  }
}

.icon {
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    fill: $text-color;
    width: $sidebar-icon-desktop-size;
    height: $sidebar-icon-desktop-size;
    flex-shrink: 0;
  }
}