@use '../../../../../styles/sass/variables.module.scss' as *;
@import '../shared.module.scss';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.containerOnOpen {
  overflow: hidden;
}

.defaultPadding {
  padding-top: $padding-regular-tablet;
  padding-right: $padding-regular-tablet;
  padding-bottom: $padding-regular-tablet;
  padding-left: $padding-regular-tablet;

  @media screen and (min-width: $tablet) {
    padding-top: $padding-medium-desktop;
    padding-right: $padding-medium-desktop;
    padding-bottom: $padding-medium-desktop;
    padding-left: $padding-medium-desktop;
  }
}

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-fixed-header;
  background-color: $sidebar-background-color; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
  @media screen and (min-width: $tablet) {
    width: calc(100% - $sidebar-desktop-size);
    transition: $sidebar-width-transition-desktop;
    left: initial;
    right: initial;
  }
}

.fixedHeaderOpen {
  @media screen and (min-width: $tablet) {
    width: calc(100% - $sidebar-close-desktop-size);
  }
}

.mobileHeader {
  z-index: $z-index-fixed-header;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.defaultContentPadding {
  padding-top: 1rem;
}